{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "proseWrap": "always",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-merge"
  ],
  "importOrder": [
    "^server-only$",
    "<THIRD_PARTY_MODULES>",
    "^@space-arch\\/",
    "^\\.\\./",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
